body {
    margin: 0;
    background-color: #e4e4e4;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #d3d3d3 3px, transparent 3px); /* Alterar para linhas verticais */
    background-size: 30rem 30rem; /* Aumentar o espaçamento */
    
}

.main-container {
    display: flex;
    flex-direction: row; /* Alinha os elementos lado a lado */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 20px;
    gap: 10rem; /* Espaçamento entre os elementos */
    height: 65vh !important; /* Altura menor */
}

.form-section {
    display: flex;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.form-step {
    flex: 1;
    position: relative;
}

.form-step.inactive {
    opacity: 0.5;
}

.form-step.active {
    position: absolute;
    left: 0;
    z-index: 2;
    transform: scale(1) translateX(30px); /* Altere aqui para mover um pouco para a esquerda */
}

.result-container {
    flex-shrink: 0;
    width: 30rem;
    height: 100%;
    align-self: flex-start; /* Adicione esta linha para alinhar ao topo */
}

.container, .form-container {
    max-width: 25rem;
    width: 100%;
    height: 60vh;
    padding: 2rem;
    background: #fff;
    transition: transform 0.5s ease, z-index 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o botão fique na parte inferior */
}

.container {
    cursor: pointer;
}

.container:nth-child(1),
.container.active:nth-child(2) {
    z-index: 2;
    
    opacity: 1;
}

.result-container {
    width: 40%;
}

.container:nth-child(2),
.container.active:nth-child(1) {
    z-index: 1;
    transform: scale(0.9) translateX(-50px);
    opacity: 0.3;
}

* {
    border-radius: 2rem;
}

label, select, input, button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem; /* Diminui o border-radius */
}

select, input {
    background-color: #eee;
    padding: 16px;
    padding-right: 30px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-size: 16px 16px;
    outline: none;
    width: calc(50% - 0.5rem); /* Ajusta a largura para dois por linha */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
}

.label-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 3rem;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha */
    
}

.label-select-container label {
    width: auto;
    margin: 0;
}

button {
    background: #9affbf; /* Novo background */
    color: #287a47; /* Nova cor */
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    font-family: 'Gatwick', sans-serif;
    height: 4rem;
}

button:hover {
    background: #7bd19a;
}

.resultado {
    margin-top: 2rem;
    padding: 1rem;
    background: #e9ecef;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Gatwick', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

h1, h2, h3 {
    font-family: 'Gatwick', sans-serif;
    margin-bottom: 15px;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
    color: #5b5b5b;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;

}

label, input, select {
    font-size: 1.2rem;
}

.section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.card {

}

.resultado-container {
    width: 300px;
    padding: 20px;
    background: #fff;

    text-align: center;
}

/* Transições de Opacidade */
.form-container {
    width: 100%;
    max-height: 100%;
    transition: opacity 0.5s ease;
}

.form-container.inactive {
    opacity: 0.5;
}

.form-container.active {
    opacity: 1;
}

/* Responsivo */
@media (max-width: 1200px) {
    .main-container {
        flex-direction: column; /* Altera para coluna em telas menores */
        align-items: center;
        gap: 20px;
    }
    .form-container, .container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        padding: 2rem; /* Adiciona padding maior no body */
    }

    .main-container {
        padding: 10px;
        gap: 5rem; /* Ajusta o espaçamento para telas menores */
        justify-content: flex-start; /* Alinha o conteúdo ao topo */
        height: 100vh !important; /* Ajusta a altura para auto */
        margin-top:25rem ;
    }

    .form-container, .container {
        margin-top: 2rem; /* Adiciona margem superior para empurrar o formulário para baixo */
        height: auto; /* Ajusta a altura para auto */
        padding: 1rem; /* Ajusta o padding */
        max-width: 17rem; /* Ajusta a largura máxima para telas menores */
        margin: 0 auto 0 0; /* Alinha o formulário mais para a esquerda */
    }

    .label-select-container {
        flex-direction: column; /* Alinha os elementos em coluna */
        height: auto; /* Ajusta a altura */
    }

    select, input {
        width: 100%; /* Ajusta a largura para 100% */
    }

    .result-container {
        width: 80%; /* Ajusta a largura para 100% */
    }

    .button-container {
        margin-top: 1rem; /* Ajusta a margem superior */
    }

    .result-box p {
        font-size: 0.5rem; /* Ajusta o tamanho da fonte */
    }
    h2 {
        font-size: 2.5rem !important; /* Ajusta o tamanho da fonte */
    }
    p {
        width: 70vw; /* Ajusta a largura para 80% */
    }

    .result-box .value {
        font-size: 3.5rem !important; /* Ajusta o tamanho da fonte */
        margin: 1.5rem 0 !important;
    }

    .result-box .tooltip p {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte */
        
    }

    .form-section {
        right: 1rem;
    }


}

.result-box {
    position: relative;
    display: inline-block;
}

.result-box p {
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: #5b5b5b;
}

.result-box .value {
    font-family: 'Gatwick', sans-serif;
    font-size: 5rem;
    margin: 0;
    color: #424242;
}

.result-box .value span {
    color: #a8a8a8;
}

.result-box .tooltip p {
    position: relative; /* Altere para relativo */
    top: auto; /* Remova a posição superior */
    left: auto; /* Remova a posição esquerda */
    transform: none; /* Remova a transformação */
    background: #d9d6ff;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Ajuste a largura para 100% do container */
    font-family: 'Poppins' !important;
    border: solid 1px #5348e9;
    margin-top: 1rem; /* Adicione margem superior para espaçamento */
    color: #5348e9; /* Ajuste a cor do conteúdo para ser igual à cor da borda */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Empurra o botão para a parte inferior */
}
